<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.scott.ngg.ReportMapper">



  <!-- doInsert: 삽입 -->
  <insert id="doInsert" parameterType="ReportVO">
    INSERT INTO report_t (
				type_sq, 
				report_dt, 
				report_cc_sq, 
				report_ct, 
				report_cnt, 
				report_st 
    ) VALUES (
				#{typeSq}, 
				SYSDATE, 
				#{reportCcSq}, 
				#{reportCt}, 
				#{reportCnt}, 
				#{reportSt} 
    )
  </insert>


  <!--========= for JUnit Test =========-->
  <!-- getAll: 전체 조회 -->
  <select id="getAll" resultType="ReportVO">
    SELECT *
    FROM report_t
  </select>

  <!-- getAll: 전체 개수 -->
  <select id="getCount" resultType="int">
    SELECT count(*) "cnt"
    FROM report_t
  </select>

  <!-- getAll: 전체 삭제 -->
  <delete id="deleteAll">
    DELETE FROM report_t
  </delete>



</mapper>