<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.scott.ngg.FileMapper">

  <insert id="doInsert" parameterType="FileVO">
		INSERT INTO file_t (
		    file_tg,
		    file_o_name,
		    file_s_name,
		    file_path
		) VALUES (
		    ISEQ$$_75963.currval + 1, 
		    #{fileOName}, 
		    #{fileSName}, 
		    #{filePath}
		)
  </insert>
  
  <delete id="doDelete"  parameterType="FileVO">
    DELETE FROM file_t 
    WHERE file_sq = #{fileSq}
  </delete>
  
  <update id="doUpdate"  parameterType="FileVO">
    UPDATE file_t
    SET file_o_name = #{fileOName}, 
        file_s_name = #{fileSName}, 
        file_path = #{filePath} 
    WHERE file_sq = #{fileSq}
  </update>  
  
  <select id="doSelectOne" parameterType="FileVO" resultType="FileVO">
    SELECT 
    FROM file_t
    WHERE file_sq = #{fileSq}
  </select>
  
  <select id="doRetrieve" parameterType="FileVO" resultType="FileVO">
  </select>


  <!-- for JUnit Test -->
  <select id="getAll" resultType="FileVO">
    SELECT *
    FROM file_t
  </select>

  <select id="getCount" resultType="int">
    SELECT count(*) "cnt"
    FROM file_t
  </select>

  <delete id="deleteAll">
    DELETE FROM file_t
  </delete>
</mapper>