<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
    <typeAliases>
        <typeAlias type="kr.scott.ngg.user.domain.UserVO" alias="UserVO"/>
        <typeAlias type="kr.scott.ngg.work.domain.WorkVO" alias="WorkVO"/>
        <typeAlias type="kr.scott.ngg.work.domain.WorkRankVO" alias="WorkRankVO"/>
        <typeAlias type="kr.scott.ngg.meal.domain.MealVO" alias="MealVO"/>
        <typeAlias type="kr.scott.ngg.food.domain.FoodVO" alias="FoodVO"/>
        <typeAlias type="kr.scott.ngg.commu.domain.CommuVO" alias="CommuVO"/>
        <typeAlias type="kr.scott.ngg.commt.domain.CommtVO" alias="CommtVO"/>
        <typeAlias type="kr.scott.ngg.status.domain.StatusVO" alias="StatusVO"/>
        <typeAlias type="kr.scott.ngg.file.domain.FileVO" alias="FileVO"/>
        <typeAlias type="kr.scott.ngg.report.domain.ReportVO" alias="ReportVO"/>
        <typeAlias type="kr.scott.ngg.cmn.SearchVO" alias="SearchVO"/>
    </typeAliases>
</configuration>