<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.scott.ngg.FoodMapper">
  
  <!-- doRetreive 검색조건 -->
  <!-- SearchDiv: food_name(10) -->
  <sql id="searchCondition">
      <where>
          <choose>
              <when test="searchDiv == '10' and searchWord != ''">
                  food_name LIKE '%' || #{searchWord} || '%'
              </when>
          </choose>
      </where>
  </sql> 
    
  <!-- doRetrieve: 조회+검색,페이징 -->
  <select id="doRetrieve" parameterType="SearchVO" resultType="FoodVO">
		SELECT A.*, B.*
		FROM (
		    SELECT ff.rnum "num",
		           ff.food_sq "foodSq",
		           ff.food_name "foodName",
		           ff.food_kcal "foodKcal",
		           ff.food_ct "foodCt" 
		    FROM (
		        SELECT ROWNUM rnum, 
		               f.*
		        FROM (
		            SELECT food_sq, 
		                   food_name, 
		                   food_kcal, 
		                   food_ct 
		            FROM food_t 
		            <include refid="searchCondition"/>
		            ORDER BY food_name ASC
		        ) f
		    ) ff
		    WHERE rnum BETWEEN (#{pageSize}*#{pageNum}-1)+1 AND (#{pageSize}*#{pageNum}-1)+#{pageSize}
		) A CROSS JOIN (
		    SELECT COUNT(*) "totalNum"
		    FROM food_t
        <include refid="searchCondition"/>
		) B
  </select>

  <!-- doSelectOne: 단건 조회 -->
  <select id="doSelectOne" parameterType="FoodVO" resultType="FoodVO">
		SELECT food_sq "foodSq", 
		       food_name "foodName", 
		       food_kcal "foodKcal", 
		       food_ct "foodCt" 
		FROM food_t 
		WHERE food_sq = #{foodSq}
  </select>

  <!-- doUpdate: 수정 -->
  <update id="doUpdate" parameterType="FoodVO">
		UPDATE food_t 
		SET food_name = #{foodName}, 
		    food_kcal = #{foodKcal}, 
		    food_ct = #{foodCt} 
		WHERE food_sq = #{foodSq}
  </update>

  <!-- doDelete: 삭제 -->
  <delete id="doDelete" parameterType="FoodVO">
		DELETE FROM food_t
		WHERE food_sq = #{foodSq}
  </delete>

  <!-- doInsert: 삽입 -->
  <insert id="doInsert" parameterType="FoodVO">
		INSERT INTO food_t (
		    food_name, 
		    food_kcal, 
		    food_ct
		) VALUES (
		    #{foodName}, 
		    #{foodKcal}, 
		    #{foodCt}
		)
  </insert>


  <!--========= for JUnit Test =========-->
  <!-- getAll: 전체 조회 -->
  <select id="getAll" resultType="FoodVO">
    SELECT *
    FROM food_t
  </select>

  <!-- getAll: 전체 개수 -->
  <select id="getCount" resultType="int">
    SELECT count(*) "cnt"
    FROM food_t
  </select>

  <!-- getAll: 전체 삭제 -->
  <delete id="deleteAll">
    DELETE FROM food_t
  </delete>

</mapper>