<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/base}">

<head></head>

<div layout:fragment="content" id="main" class="main">

  <!-- Page Title -->
  <div class="pagetitle">
    <h1>Food</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Food</a></li>
        <li class="breadcrumb-item active">management</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <!-- ======= Real Content ======= -->
  <section class="section">
  
    <!-- Search -->
    <div class="row">
      <!-- row수, 검색구분, 검색어, 버튼  & 기간 검색 -->
      <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST" action="#">
        
         <!-- Number per Page -->
         <select name="pageSize" id="pageSize" class="form-control">
          <option value="10">10개</option>
          <option value="20">20개</option>
          <option value="50">50개</option>
          <option value="100">100개</option>
         </select> 씩 보기

         <!-- Search Div -->
         <select name="searchDiv" id="searchDiv" class="form-control">
          <option value="">전체</option>
          <option value="10">이름</option>
          <option value="20">칼로리</option>
         </select>

         <!-- Search Word --> 
         <input type="text" name="searchWord" id="searchWord" placeholder="검색어" title="검색어를 입력하세요" class="form-control">

         <!-- Search Button -->
         <button type="submit" title="Search" id="searchBtn"><i class="bi bi-search"></i></button>
         
         
        </form>
      </div><!-- End Search Bar -->
    
    </div><!-- End Search -->
    
    
    <div class="row">
      
      <ul class="nav nav-pills">
      	<li role="presentation"><a href="#">전체</a></li>
      	<li role="presentation" class="active"><a href="#">탄수화물</a></li>
      	<li role="presentation"><a href="#">단백질</a></li>
      	<li role="presentation"><a href="#">지방</a></li>
      	<li role="presentation"><a href="#">기타</a></li>
      </ul>
      
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th></th>
            <th>식품군</th>
            <th>이름</th>
            <th>칼로리</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- 1 단백질 닭가슴살 120kcal 삭제버튼  -->
  <!--         <tr th:each="user : ${list}"> 
            user_is_active 값에 따라 row 색 변하게 처리!
            <td>${user.rnum}</td>
            <td>${user.foodCt}</td>
            <td>${user.foodName}</td>
            <td>${user.foodKcal}</td>
            <td>X</td>
          </tr> -->
          <tr th:each="num : ${#numbers.sequence(1,5)}" class="text-center">
            <td th:text="${num}"></td>
            <td th:text="foodCt + ${num}"></td>
            <td th:text="foodName + ${num}"></td>
            <td th:text="${num*100} + ' kcal'"></td>
            <td>X</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Paging -->
    <!-- 클릭 안되는 항목은 .disable -->
    <div class="row">
      <nav>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div><!-- End Paging -->
    
  </section><!-- End Real Content -->

</div>

</html>